<div class='row withpadding smallfont'>
	<div class='small-6 columns'>
		<h4>{? LAN_CODE_RUN_POST_DATA ?}</h4>
		<p>{? LAN_CODE_RUN_POST_DATA_DESC ?}</p>
		<textarea id='run_postdata' name='options[postdata]' class='monospace runoption' rows="3">{? $postdata ?}</textarea>
	</div>
	<div class='small-6 columns'>
		<h4>{? LAN_CODE_RUN_GET_DATA ?}</h4>
		<p>{? LAN_CODE_RUN_GET_DATA_DESC ?}</p>
		<textarea id='run_getdata' name='options[getdata]' class='monospace runoption' rows="3">{? $getdata ?}</textarea>
	</div>
</div>
<div class='row withpadding smallfont'>
	<div class='small-6 columns'>
		<h4>{? LAN_CODE_RUN_PHP_VER ?}</h4>
		<select name='options[version]' id='run_version' class='runoption'>
			{? repeat($versions) ?}
			<option value="{? $versions[val] ?}"{? if($version={? $versions[val] ?}) ?} selected{? /if ?}>{? $versions[name] ?}</option>
			{? /repeat ?}
		</select>
	</div>
</div>
