
<div class='row withpadding'>
  
  <div class='small-12 columns projectDetails bottom-pad'>
    <h4>Comments</h4>
    
    <div id='commentsContent'>
    
        {? insert(commentContents) ?}
    
    </div>
    
  </div>
  
  <div class='small-12 columns projectDetails'>
    <h4>Add Comment</h4>
{? if($user_loggedin=1) ?}
    <form action="/?mod=project&pg=addComment" data-target="ajax" method='post' data-premessage='adding comment...' data-postmessage='Your comment has been added'>
    
      <input type="hidden" name='id' value='{? $id ?}'>

      <div class='small-12 columns'>
          <textarea name='comment' placeholder='your comment' rows="4" id="newCommentTxt"></textarea> 
      </div>

      <div class='small-12 columns text-center'><button type='submit' class='button tiny'>add</button></div>
      
    </form>
    
    <h4>Help</h4>
    <p>You can use following tags: &lt;a> &lt;img> &lt;b> &lt;i> &lt;u> &lt;blockquote> &lt;code> &lt;ul> &lt;li> &lt;ol> </p>
    <p>To add code snipped just use <b>&lt;code></b> tag. You may specify the language in <b>type=""</b> parameter. Otherwise it will be auto detected.</p>
{? /if ?}
{? if($user_loggedin=0) ?}
    <div class='text-center'>You need to login to add comments</div>
{? /if ?}
  </div>
</div>