<div class="row">
    <div class='small-12 columns top-pad'>

    <form action='/?mod=project&pg=saveEmbed' data-target='ajax' method='post' data-premessage='saving...' data-postmessage='Your changes has been saved'>

        <input type='text' name="name" placeholder='put the name here' class='small-12 columns' id='embedName' value='{? $name ?}'>
        <input type='hidden' name="eid" id='embedId'value='{? $id ?}'>
        <input type='hidden' name="id" value='{? $projectid ?}'>

        <p>Pick the files and select the main one to run:</p>
        <div id='embedEditFiles'>


        <div class="row">
            <div class='small-6 columns'>
                file
            </div>
            <div class='small-3 columns text-center'>
                include
            </div>
            <div class='small-3 columns text-center'>
                main file to be run
            </div>
        </div>

        {? repeat($codes) ?}
           

            <div class="row">
                <div class='small-6 columns'>
                    <b>{? $codes[name] ?}</b>
                </div>
                <div class='small-3 columns text-center'>
                    <div class="switch">
                        <input id="emb_sw_code{? $codes[codeid] ?}" name='code[]' type="checkbox" value='{? $codes[codeid] ?}' {? if(y={? $codes[in] ?}) ?}checked{? /if ?}>
                        <label for="emb_sw_code{? $codes[codeid] ?}"></label>
                    </div> 
                </div>
                <div class='small-3 columns text-center'>
                    <div class="switch green">
                        <input id="emb_sw_mcode{? $codes[codeid] ?}" name='main_code' type="radio" value='{? $codes[codeid] ?}' {? if($main_code={? $codes[codeid] ?}) ?}checked{? /if ?}>
                        <label for="emb_sw_mcode{? $codes[codeid] ?}"></label>
                    </div> 
                </div>
            </div>
        {? /repeat ?}
        </div>

        
        <div class='row top-pad'>
            <div class="small-12 columns text-center">
                <button type='submit' class="button  tiny">save</button>
                <a class="button  alert tiny ajaxbutton" data-target='embedEditList' href='/?mod=project&pg=embeds&id={? $projectid ?}' >close</a>
            </div>
        </div>

    </form>
    </div>
</div>