<div class='row withpadding'>
  <div class='small-12 columns projectDetails'>
    <h2>{? $name ?}</h2>
  </div>
  
  <div class='small-12 medium-8 columns projectDetails bottom-pad'>
    
    {? if($insert_code=1) ?}
    <form action='/?mod=project&pg=addKey' data-target='ajax' data-premessage='checking key...' data-postmessage='code accepted. <br>Reloading, pls wait...' method='post'>
      <input type='hidden' name='id' value='{? $id ?}'>
      <div>
        <input class='round' type='text' value='' name='key' placeholder='insert key to be able to edit sandbox'>
        <button class='button round tiny' type='submit'>unlock</button>
      </div>
    </form>
    {? /if ?}

    <h4>About</h4>

    <div>
      {? $description ?}
    </div>

    <h4>Tags</h4>
    
    {? repeat($tags) ?}
        <span class='label round tag'>{? $tags[name] ?}</span>
    {? /repeat ?}
  </div>
  
  <div class='small-12 medium-4 columns projectDetails'>
    
  {? if($noclone=0) ?}
  <a class="button secondary small-12 columns tiny" href='/clone/{? $id ?}' target='_blank'>Clone sandbox</a>
  {? /if ?}
  
    <h4>Owner</h4> 
    <div>{? $owner_name ?}</div>

    <h4>Users</h4>
    
    {? insert(users) ?}

    <h4>Files</h4> 
    <div>{? $codes ?} / {? $codes_limit ?}</div>

    <h4>Visits</h4> 
    <div>{? $views ?}</div>

    <h4>Created</h4> 
    <div>{? $date_added ?}</div>

    <h4>Best before</h4> 
    <div>{? $expiry_date ?}</div>

    <a class="button secondary small-12 columns tiny" href='/new' target='_blank'>New sandbox</a>

    
  </div>
  
</div>