
<div class='row withpadding'>
    
    
    
    <div class='small-12 medium-8 columns projectDetails bottom-pad'>
        <h4>Users</h4>
        <form action="/?mod=project&pg=addUser" data-target="ajax" method='post' data-premessage='adding user...' data-postmessage='User has been added'>
            <input type="hidden" name='id' value='{? $id ?}'>
            <div class='small-12 columns'><input type='text' name='email' value='' placeholder="to add user type user's email and press enter" class='radius' id='addUserToPr'> </div>
        </form>
        
        <div id='userEditList'>
            {? insert(users) ?}
        </div>
        
    </div>

    <div class='small-12 medium-4 columns projectDetails'>
        
        <form action="/?mod=project&pg=saveSecurity" data-target="ajax" method='post' data-premessage='saving...' data-postmessage='Your changes has been saved' id='securityVisibility'>
        
            <input type="hidden" name='id' value='{? $id ?}'>
            <h4>Visible for all</h4>

            <div class="switch text-center">
                <input id="publicCheckboxSwitch" name='public' type="checkbox" value='1' 
                {? if($public=1) ?}checked{? /if ?} onchange="$('#securityVisibility').submit();">
                <label for="publicCheckboxSwitch"></label>
            </div> 

            <h4>Block cloning</h4>

            <div class="switch text-center">
                <input id="cloningCheckboxSwitch" name='noclone' type="checkbox" value='1' 
                {? if($noclone=1) ?}checked{? /if ?} onchange="$('#securityVisibility').submit();">
                <label for="cloningCheckboxSwitch"></label>
            </div> 

        </form>
    </div>
    
</div>