<div class='small-12 columns nomargin nopadding noline'>
        <img src="/modules/main/img/foot.png">
</div>
<div class='small-12 columns undertop content foot'>
    <div class='row'>
        <div class='small-6 medium-4 columns'>
            <p>
            	<a href='/cms/about'>How it works?</a><br>
            	<a href='/cms/cat/help'>Help</a><br>
            	<a href=''>News</a>
            </p>
        </div>
        <div class='small-6 medium-4 columns'>
       		<p>
            	<a href='/cms/tnc'>Terms & Conditions</a><br>
            	<a href='/cms/cookies'>All about cookies</a><br>
            	<a href='/cms/contact'>Contact</a>
            </p>
        </div>
        <div class='small-12 medium-4 columns'>
       		<p>&nbsp;</p>
       		<p class="text-right">&copy; PHPfy</p>
        </div>
    </div>
</div>