{? insert(top) ?}

<div class='small-12 columns undertop'>
    <div class='row'>
        <div class='small-12 medium-5 columns'>
            {? insert($userDet) ?}
        </div>
        <div class='small-12 medium-7 columns'>
            {? insert($userInfoPg) ?}
        </div>
    </div>
</div>

{? insert(intro) ?}

<div class='small-12 columns grayblock'>
    <div class='row'>

        <div class='small-12 medium-3 columns'>
            <h3>Show your code</h3>

            <p>Create and embed working code samples. The main script will be automatically executed so everyone can see the results directly on your website.</p>
        </div>
        <div class='small-12 medium-9 columns phpfyembd4' style='height: 330px;'></div>
        <script type='text/javascript' src='/embed/4'></script>
    </div>
</div>

<div class="row">
    <div class="small-12 columns content">
        <div class='row content'>
            <div class='small-12 medium-4 columns'>

                <div class='infoicon'><i class='fi-comments'></i></div>

                <h4 class='text-center'>Collaborate</h4>

                <p>Give others access to your sandbox and create the code together.</p>
                
                <p>You can leave your comments and get comments from the other users.</p>
            </div>
            <div class='small-12 medium-4 columns'>
                <div class='infoicon'><i class='fi-page-copy'></i></div>

                <h4 class='text-center'>Clone</h4>

                <p>Want to quickly try new approach without loosing existing work? Simply press <b>Clone</b> button and copy your sandbox with all the files and settings.</p>
            </div>
            <div class='small-12 medium-4 columns'>
                <div class='infoicon'><i class='fi-shield'></i></div>

                <h4 class='text-center'>Isolate code</h4>

                <p>Every time code is executed it is sandboxed so it won't be affected by other's code.</p>
                <p>You can lock your sandbox and give an access to selected users only.</p>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="small-12 columns">
        <div class='infoicons big'>
            <i class='fi-mobile'></i>
            <i class='fi-tablet-landscape'></i>
            <i class='fi-laptop'></i>
            <i class='fi-monitor'></i>
        </div>
        <h3>Use any device</h3>
        <p>Desktop, laptop, tablet or mobile. We know that coding on mobile is not what the most people do, but still, mobile is all you need to get the sandbox and test new idea on the go.</p>
        <p>PHPfy is designed to make editing and executing code on your smartphone as easy as on your home pc with 26" screen.</p>
    </div>
</div>

{? insert(foot) ?}

             