

<div style='margin-left: 200px;'>
<div style='width: 728px; height: 90px; margin: 8px auto; border: 1px solid #aaa;'>
    <script type="text/javascript"><!--
        google_ad_client = "pub-5126653728684205";
        /* wyszukiwarka 728 x 90 */
        google_ad_slot = "6569749674";
        google_ad_width = 728;
        google_ad_height = 90;
    //-->
    </script>
    <script type="text/javascript" src="http://pagead2.googlesyndication.com/pagead/show_ads.js"></script>
</div>
</div>

