<div class="row">
    <div class="small-12 columns content">
        <h3>Test your ideas in no time</h3>
        <p>Just one click to create your own sandbox where you can test PHP, JavaScript, Pearl, Pyton, Html and CSS.</p>

        <div class="row langs">
            <div class="small-6 columns">
                <div class='infoicons'>
                    <i class='devicon-php-plain'></i>
                    <i class='devicon-python-plain'></i>
                    <img src='/modules/main/img/perl.png' class='icon'>
                </div>
                <p>Make modular <b>PHP</b>, <b>Python</b> or <b>Perl</b> apps (you can access any file on the sandbox from your code). No safe mode or blocked functions.</p>
            </div>
            <div class="small-6 columns">
                <div class='infoicons'>
                    <i class='devicon-html5-plain'></i>
                    <i class='devicon-javascript-plain'></i>
                    <i class='devicon-css3-plain'></i>
                </div>
                <p>Use <b>HTML</b>, <b>JavaScript</b> and <b>CSS</b> on the front-end side. Test ajax requests to the back-end scripts.</p>
            </div>
        </div>

    </div>
</div>