(function() {
	var placeholder = document.querySelector('.phpfyembd{? $id ?}');
	if (!placeholder) return;
	var iframe = document.createElement('iframe');
	iframe.src = "//{? $host ?}/getEmbed/{? $id ?}";
	iframe.style.width = "100%";
	iframe.style.height = "100%";
	iframe.style.border = "3px solid #bbb";
	iframe.style.margin = "0";
	iframe.style.padding = "0";
	iframe.scrolling = "no";
	placeholder.appendChild(iframe);
	placeholder.attributes.class.value = placeholder.attributes.class.value.replace( 'phpfyembd{? $id ?}', '' );
})();