#rej_form {
	position:relative;
	background: #fff;
	padding: 8px;
	width: 520px;
	margin: 0 auto;
	border: solid 1px #ccc;
	box-shadow: 0 0 5px #888;
}

#rej_form h1 {
	font-size: 16px;
	color: #006;
	margin-top: -23px;
	text-shadow: 0 0 4px #888;
}

#rej_info {
	text-align: center;
	color: #900;
	font-size: 12px;
}

#rej_fr {
	display: inline-block;
	width: 180px;
	margin: 5px;
	vertical-align: top;
}

#rej_text {
	display: inline-block;
	width: 280px;
	margin: 5px;
	padding-left: 10px;
	border-left: 1px solid #ccc;
	vertical-align: top;
}

#rej_form input {
	display: block;
	width: 160px;
	padding: 8px;
	border: 1px solid #ccc;
	margin: 5px 0;
	border-radius: 9px;
}
#rej_form input[type="checkbox"] { 
	width: auto;
	display: inline-block;
	margin: 2px;
}

#rej_form input[type="submit"] { 
	width: 80px;
	display: inline-block;
	margin: 1px;
}

#rej_form input[type="button"] { 
	width: 80px;
	display: inline-block;
	margin: 1px;
}