<div ng-controller="explorerAppController">
	<div class="row">
		<div class="small-12 columns">
			<h1>Explorer</h1>
		</div>
	</div>

	<div class="row">
		<div class="small-12 columns">
			<h4>REST endpoints</h4>
		</div>
	</div>

	<div class="row">
		<accordion close-others="false">
			<accordion-group heading="/{{controller.endpoint}}" ng-repeat="controller in routes.controllers">
				<ul class="tabs" data-tabs id="{{controller.endpoint}}-tabs">
				  <li class="tabs-title" ng-repeat="method in controller.methods">
				  	<a href="#{{controller.endpoint}}-panel-{{method.name}}">{{method.name}}</a>
				  </li>
				</ul>
				<div class="tabs-content" data-tabs-content="{{controller.endpoint}}-tabs">
					<div class="tabs-panel" id="{{controller.endpoint}}-panel-{{method.name}}" ng-repeat="method in controller.methods">
						<div class="row">
							<div class="small-12 medium-6 columns">
								<button class="button" ng-click="makeRequest(controller, method)" ng-disabled="loading">make request</button> 
							</div>
							<div class="small-12 medium-6 columns">
								
							</div>
						</div>
					</div>
				</div>
		    </accordion-group>
		</accordion>

	</div>

	<message/>
</div>
