<div class='row'>
    <div class='small-12 medium-6 columns'>
        <div class='withpadding'>
            <div class='row'>
                <div class='small-12 columns smallfont'>
                    <h3>{? $nick ?}</h3>
                </div>
            </div>
            <div class='row'>
                <div class='small-5 columns'>email</div>
                <div class='small-7 columns'>{? $email ?}</div>
            </div>
            <div class='row'>
                <div class='small-5 columns'>name</div>
                <div class='small-7 columns'>{? $name ?} </div>
            </div>
            <div class='row'>    
                <div class='small-5 columns'>registered</div>
                <div class='small-7 columns'>{? $registered ?} </div>
            </div>
            <div class='row'>    
                <div class='small-5 columns'>last login</div>
                <div class='small-7 columns'>{? $last_login ?}</div>
            </div>
        </div>
    </div>
    <div class='small-12 medium-6 columns text-center'>
        <img src='{? $pic ?}' class='userpic'>
    </div>
</div>