 <div id="drop_cms" data-dropdown-content class="f-dropdown content mega" aria-hidden="true" tabindex="-1" aria-autoclose='false'>
     <div class="headrow small-12 columns">                         
            <h1>PHPfy</h1>
            <a class="closeDrop">&#215;</a>  
     </div>
     <div class="autoDropContent max small-12 columns nopadding" id="cmsContent">
         
     </div>
     <div class="bordercolapse dfoot small-12 columns">            
        {? repeat($cmscat) ?}             
            <a class="small-3 columns button secondary tiny dropfoot ajaxbutton" data-target='cmsContent' data-drop='drop_cms' href='/cms/cat/{? $cmscat[url] ?}'> 
                <b>{? $cmscat[title] ?}</b>
            </a>
        {? /repeat ?}
      </div>
</div>
<script>
$( function() {
    phpfy.Code.loadAjaxDrop( $( '#drop_cms' )[0] );
} );
</script>