<div id="drop_file" data-dropdown-content class="f-dropdown content small" aria-hidden="true" tabindex="-1">
         <div class="row headrow">                         
           <div class="small-12 columns">                         
             <h1>{? LAN_FILES_H1 ?}</h1>
           </div>
           <a class="closeDrop">&#215;</a>  
         </div>
         <div class="row autoDropContent nopadding" id="fileMenuContent">
         
         {? insert(files) ?}
             
         </div>
         <div class="row">                         
           <a class="small-12 columns button tiny dropfoot one" data-reveal-id="pop_add_file" href="javascript:;"> 
              Add
          </a>
        </div>
    </div>