<div id="drop_login" data-dropdown-content class="f-dropdown content medium" aria-hidden="true" aria-autoclose="false" tabindex="-1">
    <div class="row headrow">                         
        <div class="small-12 columns">                         
            <h1>About you</h1>
        </div>
        <a class="closeDrop">&#215;</a>  
    </div>
    <div class="row autoDropContent" id="loginContent">
     
     
             
    </div>
    <div class="row bordercolapse">                         
        <a class="small-2 columns button secondary tiny dropfoot disabled tip-top ajaxbutton" data-target='loginContent' data-drop='drop_login' href='/?mod=user&id={? $projectId ?}'> 
            <i class="fi-torso"></i>
        </a>
        <a class="small-2 columns button secondary tiny dropfoot disabled tip-top ajaxbutton" data-target='loginContent' data-drop='drop_login' href='/?mod=user&pg=edit&id={? $projectId ?}'> 
                <i class="fi-pencil"></i>
        </a>
        <a class="small-2 columns button secondary tiny dropfoot disabled tip-top ajaxbutton" data-target='loginContent' data-drop='drop_login' href='/?mod=user&pg=projects&id={? $projectId ?}'> 
                <i class="fi-list-thumbnails"></i>
        </a>
        <a class="small-2 columns button secondary tiny dropfoot disabled tip-top ajaxbutton" data-target='loginContent' data-drop='drop_login' href='/?mod=user&pg=delete&id={? $projectId ?}'> 
                <i class="fi-trash"></i>
        </a>
        <a class="small-4 columns button tiny alert dropfoot disabled tip-top ajaxbutton" data-target='_run' href='/?mod=user&pg=logout&id={? $projectId ?}'>
                <i class="fi-power"></i>
        </a>
    </div>
</div>