<div id="drop_del_file" data-dropdown-content class="f-dropdown content small" aria-hidden="true" tabindex="-1">
         <div class="row headrow">                         
           <div class="small-12 columns">                         
             <h1>Do you want to delete this file?</h1>
           </div>
           <a class="closeDrop">&#215;</a>  
         </div>
             <div class="row bordercolapse">    
                <a href="javascript:;" class="small-6 columns button tiny dropfoot">No, forget it</a>
                <a href="javascript:;" class="small-6 columns button tiny alert dropfoot" id="yesDelFile">Yes, delete it</a>
             </div>
         
         <div></div>
    </div>