<!-- Off Canvas Menu -->
    		<aside class="left-off-canvas-menu mobileMenu">
             <ul class="off-canvas-list">
              <li class="has-submenu"><a href='#' class="fileSelector"><i class="fi-page s18"></i> <span>{? LAN_FILES_MENU ?}<span></a>
                <ul class="left-submenu">
                  <li class="back"><a href="#">Back</a></li>
                  <li><label>{? LAN_FILES_H1 ?}</label></li>
                  <span id='mfileMenuContent'>{? insert(files-mobile) ?}</span>
                  <li><a data-reveal-id="pop_add_file" href="javascript:;">Add</a></li>
              </ul>
              </li>
      		    <li><a class='saveActive fileAction editOnly' href="javascript:;"><i class="fi-save"></i> {? LAN_FILES_SAVE ?}</a></li>
              <li><a class="runit fileAction" href="javascript:;"><i class='fi-play'></i> {? LAN_RUN ?}</a></li>

              <li><a data-dropdown="drop_run" class="dropButton fileAction" href="javascript:;"><i class='fi-play'></i> run options</a></li>
              <li><a class='fileAction fileDownload'><i class="fi-page-export" href="javascript:;"></i> {? LAN_CODE_DOWNLOAD ?}</a></li>
      		    <li><a data-dropdown='drop_del_file' class='fileAction editOnly' href="javascript:;"><i class="fi-trash"></i> {? LAN_CODE_DELETE_FILE ?}</a></li>
            </ul>
            </aside> 

            <aside class="right-off-canvas-menu mobileMenu">
            <ul class="off-canvas-list">
              <li><a data-dropdown="drop_project" class="dropButton projectConfig"  href="javascript:;"><i class="fi-widget"></i> {? LAN_CODE_OPTIONS ?}</a></li>
              <li><a class='saveAll editOnly'><i class="fi-save" href="javascript:;"></i> {? LAN_CODE_SAVE_ALL ?}</a></li>
			       <li><a data-dropdown="drop_login" class="dropButton" href="javascript:;"><i class="fi-torsos-male-female"></i> {? LAN_CODE_USER ?}</a></li>
              <li><a data-dropdown="drop_cms" class="dropButton" href="javascript:;"><i class="fi-thumbnails"></i> {? LAN_CODE_ABOUT ?}</a></li>
            </ul>
            </aside>