
<nav class="top-bar show-for-medium-up" data-topbar role="navigation" id='topBar'>
   
   <section class="top-bar-section">
   <ul class="left">
        <li><a href="/">PHPfy</a></li>
        <li class="not-click"><a data-dropdown="drop_file" class="dropButton fileSelector" href="javascript:;"><i class="fi-page s18"></i> <span>{? LAN_FILES_MENU ?}</span></a></li>
		<li><a id='closeEditor' class='fileAction' href="javascript:;"><i class="fi-x"></i></a></li>
        <li><a class='fileAction saveActive editOnly' href="javascript:;"><i class="fi-save"></i></a></li>
        <li><a class="runit dropButton split fileAction" id="drop_run_btn" href="javascript:;"><i class='fi-play'></i><span data-dropdown="drop_run"class="dropButton"></span></a></li>
        <li><a class='fileAction fileDownload' href="javascript:;"><i class="fi-page-export"></i></a></li>
		<li><a data-dropdown='drop_del_file' class='fileAction editOnly' href="javascript:;"><i class="fi-trash"></i></a></li>

    </ul>
   
    <!-- Right Nav Section -->
    <ul class="right show-for-medium-up">
        <li class="show-for-large-up"><a class='neweditor' href="javascript:;"><i class="fi-page-copy"></i></a></li>
        <li><a class='togleoutput active' href="javascript:;"><i class="fi-monitor"></i></a></li>
        <li class="not-click"><a data-dropdown="drop_project" class="dropButton" id='projectConfig' href="javascript:;"><i class="fi-widget"></i></a></li> 
        <li><a class='saveAll editOnly' href="javascript:;"><i class="fi-save"></i></a></li>
	     <li class="not-click"><a data-dropdown="drop_login" class="dropButton" href="javascript:;"><i class="fi-torsos-male-female"></i></a></li>
        <li class="not-click"><a data-dropdown="drop_cms" class="dropButton" href="javascript:;"><i class="fi-thumbnails"></i></a></li>
    </ul>
    </section>

</nav>