		<nav class="top-bar show-for-small-only">
		      <section class="top-bar-section">
		      <div class="row"><div class="row">
		      	<div class="small-4 columns">
			      	<ul class="left">
			        	<li><a href='#' class="left-off-canvas-toggle"><i class='fi-list'></i></a></li>
			        </ul>
			    </div>
		        
			    <div class="small-3 columns text-center">
			    	logo
			    </div>

			    <div class="small-5 columns">
			        <ul class="right">
				        <li><a class='togleoutput active' href="javascript:;"><i class="fi-monitor"></i></a></li>
			        	<li><a href='#' class="right-off-canvas-toggle"><i class='fi-list'></i></a></li>
			        </ul>
			    </div>
			  </div></div>
		      </section>
	    </nav>